.main {
  margin: 20px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #1B4965;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  color: #1B4965;
}
