.main {
  margin: auto;
  margin-top: 30px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #1B4965;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  color: #1B4965;
}

.btn-chat {
  margin: 10px;
  width: 200px;
  height: 62px;
  background-color: #5FA8D3;
  border-radius: 0%;
  font-size: large;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
}

.btn-chat-input {
  margin: 10px;
  width: 300px;
  height: 62px;
  background-color: white;
  border-radius: 10%;
  font-size: large;
  font-family: 'Inter', sans-serif;
.pending {
  margin-top: 25px;
}

.confirmed {
  margin-top: 25px;
}

.application-card {
  display: flex;
}

.application-card .status {
  right: 49px;
  position: absolute;
  top: 41px;
  color: #1B4965;
  font-size: 15px;
}

.application-card-title {
  padding-left: 10px;
  margin-top: 20px
}

.application-card-title h2 {
  font-weight: 700;
  font-size: 20px
 }

 .application-card-title p{
  font-size: 17px;
 }

 .profile-card-user-info {
   margin: 15px;
   padding: 20px;
   border-radius: 6px;
   border: 1px solid #1B4965;
   box-shadow: 5px 5px 5px #aaaaaa;
 }

 .view-application-button a{
   font-size: 15px;
   font-weight: 500;
    border-radius: 5px;
    padding: 7px;
    background: #1B4965;
    color: white;
    text-decoration: none;
}

.job-applied {
  margin-top: 25px;
}
