.btn-add-job {
  font-size: 20px;
  padding: 10px, 10px, 10px, 10px;
  border-radius: 35px;
  width: 300px;
  display: flex;
  justify-content: right;
  margin-left: 500px;
  background-color: #5FA8D3;
  color: white;
}

.form-group {
  font-size: 20px;
  color: #3aa2de;
}

.btn-add-file {
  font-size: 10px;
}

.page-title {
  margin-left: 450px;
  color: #3aa2de;
}
