.show-job {
  margin-top: 20px; // Add space between cards
}

.card-body {
  margin: 20px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #1B4965;
  overflow: hidden;
  // height: 380px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  color: #1B4965;
}

.card-body h5 {
  margin-bottom: 10px; // Add margin between title and content
}

.card-body .row {
  margin-bottom: 10px; // Add margin between rows
}

.card-body .row > * {
  flex: 1; // Ensure equal column widths
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.fav_button {
  font-size:x-large;
  background-color: transparent;
  border: none;
}
.fav-btn
{
  background: #DCEDF7;
  border-radius: 5px;
  padding: 5px;
}

.card-title-show {
  display: flex;
  border-bottom: 2px solid #EAEAEA;
}

.card-title-show img {
  width: 150px;
}

.job-title {
  font-weight: 700;
  font-size: 20px
}

.part-time-btn {
  margin-left: 10px;
}

.card-text{
  font-weight: 200;
}

.apply-now-button {
    color: white;
    border-radius: 5px;
    background: #1B4965;
    width: 200px;
}
