<footer class="footer">
  <div class="flex-container">
    <div class="icon-text">
    <p style="color:#5FA8D3; margin-bottom:0px">Job Connect</p>
    <p>Find your dream job </p>
    </div>
    <%# <div class="form-input">
        <label for="email"></label>
        <input type="email" placeholder="Enter Your Email">
        <button class="subscribe-btn">Subscribe</button>
     </div> %>
     <%# <div class="content">
      <p> About </p>
      <p> Pricing </p>
      <p> Carrier Tips </p>
     <p> FAQ's </p>
    </div> %>
     <div style="margin-top: 14px">
     <i class="fa-brands fa-facebook fa-xl"></i>
     <i class="fa-brands fa-twitter fa-xl"></i>
     <i class="fa-brands fa-instagram fa-xl"></i>
    </div>

  </div>
</footer>
