<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
       <span style="color:#5FA8D3"><span style="color:#1B4965">Job</span> Connect </span>
    <%end%>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Jobs", jobs_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Applications", job_applications_path, class: "nav-link nav-link-border" %>
          </li>
            <% end %>
          <li class="nav-item">
            <%= link_to "Recurting ? post a job", jobs_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav me-auto" style="margin-right:0px !important">
          <li class="nav-item active">
            <a class="nav-link" href="#"><span>Saved Jobs</span><i class="fa-solid fa-heart"></i></a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gayathri</a>
          </li>
          <li>
           <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            </li>
           </ul>
    </div>
    </div>
  </div>
</div>
