
<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <h1>Welcome to Job Connect</h1>

    <div class="slogan">
      <h4>Find a job you love, and you will never have to work a day in your life</h4>
    </div>
  </div>
</div>
