  <div style="height:800px">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.cfe.manchester.ac.uk/connect/Connect-section-page-banner-1400x400px3.jpg);">
      <div class="container">
        <h1> <strong>Job Connect</strong>!</h1>
        <%= link_to "Find your dream job here!", jobs_path, class: "banner-button" %>
      </div>
    </div>
    <div class="home-page-cards">
      <div class="card-heading">
        <h1>Top Companies</h1>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.1)), url(https://1000logos.net/wp-content/uploads/2016/10/Apple-Logo.png)">
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.1)), url(https://cdn2.hubspot.net/hubfs/53/image8-2.jpg)">
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.1)), url(https://i.pinimg.com/736x/32/90/d6/3290d68ee2ca14559cae8afe4538d97f.jpg)">
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.1)), url(https://media.licdn.com/dms/image/v2/C4E0BAQH5yNXchZgPjQ/company-logo_100_100/company-logo_100_100/0/1679498901184/isometric_hq_logo?e=1737590400&v=beta&t=SxUaigfSW2laIngmINwTp5s1sirpnTKS_DOJaSmyeH8)">
      </div>
    </div>
  </div>
