.banner {
  background-size: cover;
  padding: 150px 0;
  height: 500px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  justify-content: right;
  display: flex;
  justify-content: center;
}

.banner .banner-button {
  border-radius: 35px;
  font-weight: 700;
  background-color: #5FA8D3;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin-top: 30px;
  display: inline-block;
  cursor: pointer;
  margin-left: 450px;
  margin-right: 300px;
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 30px;
}
