.cards {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  position: relative;
  width: 900px;
}

.card-heading {
  text-align: center;
  color: #1B4965;
}
.home-page-cards {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card-product {
  border-radius: 10px;
  border: 1px solid transparent;
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.card-product img {
  margin-left: 20px;
  margin-top: 27px;
  height: 50%;
  width: 100px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos a {
  font-size: 25px;
  color: #1B4965;
  text-decoration: none;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-job-application{
  padding : 20px;
  font-family: 'Inter', sans-serif;
  color: #1B4965;

}
.card-job-application-right{
  margin-left: 30px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #1B4965;
}
.card-job-application .user-info {
  border-radius: 5px;
  border: 1px solid #1B4965;
  width: 40%;
}

.title{
  border-bottom: 2px solid #1B4965;
  font-weight: 500;
  font-size: 30px
}

#border-width{
  border: 1px solid #5FA8D3;
  margin: 20px;
  position: relative;
}
.card-edit{
  top: 17px;
  right: 25px;
  position: absolute
}

.btn-more-details{
  margin-top:20px;
  border-radius: 6px;
  background: #1B4965;
  border: 1px solid white;
  color: white;
  padding: 10px;
}
