.cards {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  position: relative;
  width: 900px;
}

.card-heading {
  text-align: center;
  color: #1B4965;
}
.home-page-cards {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card-product {
  border-radius: 10px;
  border: 1px solid transparent;
  overflow: hidden;
  height: 165px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos a {
  font-size: 25px;
  color: #1B4965;
  text-decoration: none;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-job-application{
  padding : 20px;
  font-family: 'Inter', sans-serif;
  color: #1B4965;

}
.card-job-application-right{
  margin-left: 50px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #1B4965;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.card-job-application-right .title {
  border-bottom: 2px solid #EAEAEA;
}
.card-job-application .user-info {
  border-radius: 5px;
  border: 1px solid #1B4965;
  width: 30%;
  padding: 20px;
  color: #1B4965;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card-job-application .user-info h2 {
  border-bottom: 2px solid #EAEAEA;
  font-weight: 500;
}

.title{
  border-bottom: 2px solid #1B4965;
  font-weight: 500;
  font-size: 30px
}

#border-width{
  border: 1px solid #5FA8D3;
  margin: 20px;
  position: relative;
}
.card-edit{
  top: 17px;
  right: 25px;
  position: absolute
}

.btn-more-details{
  margin-top:20px;
  border-radius: 6px;
  background: #1B4965;
  border: 1px solid white;
  color: white;
  padding: 10px;
}


// JOB-APP EDIT VIEW CARD STYLING

.job-application-edit-card {
  margin: 20px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #1B4965;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  color: #1B4965;
}


// FAVOURITES INDEX CARD STYLING

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(180px, auto);
}

.card-favourite {
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items:center;
  color: #1B4965;
  height: 160px;
  text-decoration: none;
}

.card-favourite-info {
  flex-grow: 1;
  p {
    margin: 0px;
  }
}

.card-favourite-img {
  width: 30%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  clip-path: inset(0 round 9px);
  padding-right: 8px;
}

.border-blue {
  border: 1px solid #5FA8D3;
}

.favourite-position-absolute {
  position: absolute;
  top: 8px;
  right: 8px;
}

.favourites-padding {
  color: #1B4965;
  padding: 20px 0px;
}
