// _footer.scss

.footer {
  background: #1B4965;
  font-weight: bolder;
  padding-top: 1%;
  text-align: center;
  height: 50px;
  color: #F6BF51;
  position: absolute;
  bottom: 0;
  width: 100%;
}
