.navbar-lewagon {
  justify-content: space-between;
  background: #1B4965;
  font-weight: bold;
  color: #F6BF51;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #F6BF51;
}
